
// wg BEM to jest BLOK
.site-header {

    background: url(../../assets/img/img/bg_header.jpeg) center/cover fixed;
    height: 100vh;
    position: relative;

    // To co poniżej wg BEM to są elementy
    &__blackout {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__h1 {
        position: absolute;
        bottom: 40%;
        width: 100%;
        text-align: center;
    }

    &__button {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 15%;
    }

}